<!DOCTYPE html>
<html>
    <head>
    <title>MeadowLark Travel</title>
    </head>

    <body>
        <header>
            <img src="/img/download.jpg" alt="">
        </header>
        {{{body}}}
    </body>
</html>
